body{
	padding: 0;
	background-color: ;
}

.container{
	width:100%;
}


.parallax{
    height: 100vh;
    overflow:hidden;
	background-color:#98093e;
	background-image: url("bg.jpg");
	background-size: 100%;

}

.footer{
	width: 100%;
	height: 30px;
	background-color:#282828; 
}

